<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--引入vue框架   -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <!-- 引入vant组件   -->
    <script src="https://cdn.jsdelivr.net/npm/vant@2.1/lib/vant.min.js"></script>
    <!--  引入css样式  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.1/lib/index.css">
    <title>后台登录</title>
</head>
<body align="center">
    <div id="app" margin="0 auto" >
        <br>
        <br>
        <br>
        <br>
        <br>
        <div >
            <van-row  type="flex" justify="center">
                <van-col>
                    <van-cell-group>
                        <van-field v-model="username" placeholder="请输入用户名" />
                    </van-cell-group>
                </van-col>
            </van-row>
            <van-row type="flex" justify="center">
                <van-col>
                    <van-cell-group>
                        <van-field v-model="password" placeholder="请输入密码" />
                    </van-cell-group>
                </van-col>
            </van-row>
        </div>
        </table>
    </div>
    <script type="text/jscript">
			var app=new Vue({
				el:"#app",
				data:{
					username:"",
					password:""

				}
			})
	</script>
</body>
</html>